* {
	padding: 0;
	margin: 0;
}
body {
	width: 100%;
	height: 100%;
	margin: auto;
	background-color: #fff;
}
/*======== pages containers css ======*/
.site_container{
	width: 100%;
	min-height: 95vh;
	margin-bottom: 5vh;
}
.login_container{
	width: 100%;
	min-height: 95vh;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5vh;
}
/*=========== nav bar css ==========*/
.navbar_bg{
	width: 100%;
	min-height: 5vh;
	background-color: #fff;
	border-bottom: 2px solid #fc7f19;
	padding: 10px;
}
.toggle_btn{
	width: 40px;
	height: 35px;
	border: 2px solid #fc7f19;
	margin-right: 20px;
	outline: none !important;
	cursor: pointer;
	padding: 5px;
	color: #fc7f19;
	
}
.toggle_btn:hover{
	box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, .5);
	background-color: #fc7f19;
	color: #fff;
}
.navbar_ul{
	margin-right: 3em;
}
.navbar_a{
	padding: 10px 20px !important;
	color: #666;
	text-transform: capitalize;
}
.navbar_a:focus{
	color: #f3540a;
}
.navbar_a:hover{
	color: #f3540a;
	transition: all .3s ease-in-out;
}
.active{
	color: #f3540a;
}
/*======== forms css ========*/
.login_box{
	width: 35%;
	min-height: 40vh;
	background-color:#f8a460;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .6);
	padding: 40px 0px;
}
.form1{
	width: 90%;
	border-radius: 5px;
	/* margin: 20px auto; */
	border: 1px solid #fff;
	padding-bottom: 10px;
}
#form1_fh{
	width: 60%;
	padding: 10px 20px;
	margin: auto;
	margin-top: -20px;
	margin-bottom: 40px;
	text-align: center;
	color: #fc7f19;
	text-transform: uppercase;
	background-color: #fff;
	font-weight: bold;
}
#form1_input{
	width: 90%;
	height: 40px;
	margin: 30px 0px;
	margin-left: 15px;
	padding-left: 45px;
	outline: none;
	border: none;
	border-radius: 2px;
}
#form1_input:focus{
	box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, .6),
				0px 0px 4px 0px rgba(0, 0, 0, .3);
	transition: all .2s ease-in;
}
.form1_fa{
	font-size: 1.2em;
	margin-top: 40px;
	margin-left: 25px;
	color: #fc7f19;
	position: absolute;
}
#form1_submit{
	width: 90%;
	height: 40px;
	margin: 30px 0px;
	margin-left: 15px;
	outline: none;
	border: none;
	border-radius: 2px;
	background-color: #f86909;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}
#form1_submit:hover{
	background-color: #e24c06;
	box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, .8);
}
.form1 a{
	margin-left: 40px;
	text-transform: capitalize;
	font-style: italic;
	color: #fff;
	font-weight: bold;
}
.form2{
	width: 70%;
	border: 2px solid #f8a460;
	border-radius: 5px;
	margin: auto;
	padding: 30px;
	margin-bottom: 60px;
}
.form2-label{
	margin-left: 16%;
	text-transform: capitalize;
	color: #666;
	margin-bottom: 10px;
}
#form2-img{
	margin-left: 15%;
	margin-bottom: 20px;
}
#form2-input{
	width: 70%;
	height: 40px;
	outline: none;
	border: 2px solid #ccc;
	border-radius: 5px;
	margin-bottom: 20px;
	margin-left: 15%;
	padding-left: 10px;
}
#form2-input:focus{
	box-shadow:	0px 0px 3px 0px rgba(0, 0, 0, .3);
	transition: all .2s ease-in;
}
#form2-submit{
	width: 70%;
	height: 40px;
	outline: none;
	border: none;
	border-radius: 5px;
	margin-bottom: 20px;
	margin-left: 15%;
	background-color: #f86909;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}
#form2-submit:hover{
	background-color: #e24c06;
	box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, .8);
}
/*========== links css ============*/
.home{
	width: 100%;
	min-height: 100vh;
	margin-bottom: 60px;
}
.slide1{
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, .4),rgba(0, 0, 0, .4)), 
				url(../img/groundnut1.jpg)center/cover no-repeat;
}
.slide2{
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, .4),rgba(0, 0, 0, .4)),
				url(../img/garlic2.jpg)center/cover no-repeat;
}
.slide3{
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, .4),rgba(0, 0, 0, .4)),
				url(../img/maize1.jpg)center/cover no-repeat;
}

.buy{
	width: 95%;
	min-height: 100vh;
	border: 1px solid red;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 40px;
	margin-bottom: 100px;
}
.buy-head-bg{
	width: 150px;
	background-color: #e24c06;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px;
	margin-left: 30px;
	margin-bottom: 40px;
}
.buy_pros{
	width: 100%;
	min-height: 50vh;
	padding: 30px 0px;
	margin-bottom: 40px;
}
.pro_img{
	height: 400px;
	padding-top: 30px;
	text-align: center;
	border-radius: 5px;
}
.pro_img:hover{
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .6);
	border: 1px solid #e24c06;
	background-color: #fff;
}
.pro_img img{
	width: 95%;
	height: 250px;
	border-radius: 5px;
}
.pro_title{
	margin-top: 20px;
	color: #e24c06;
	text-transform: uppercase;
	font-size: 1.2em;
	margin-bottom: 20px;
}
.pro_img a{
	background-color: #e24c06;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px 30px;
}
.breadcrumb a{
	text-transform: capitalize;
	text-decoration: none;
	font-style: italic;
	font-size: 1.1em;
	color: #000;
}
.breadcrumb a:hover{
	color: #f3540a;
}
/*============ tables css ==============*/
.record-table{
	width: 90%;
	min-height: 70vh;
	margin: 40px auto;
}
.record-table h4{
	text-align: center;
	color: #f86909;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 60px;
	margin-bottom: 40px;
}
.all-table thead{
	background-color: #f86909;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}
.all-table tbody{
	background-color: #f58529;
	text-align: center;
	text-transform: capitalize;
	color: #fff;
	cursor: pointer;
}
.all-table tbody tr:hover{
	background-color: #f89c51;
}
.cart-btn1{
	margin-bottom: 10px;
}
.cart-btn1 a{
	background-color: #22852f;
	color: #fff;
	text-decoration: none;
	padding: 5px 30px;
}
.cart-btn2 a{
	background-color: #f50d53;
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
}
/*============== add produce css =======*/
.add-produce{
	width: 80%;
	min-height: 90vh;
	margin: auto;
	margin-top: 60px;
	margin-bottom: 60px;
}
.produce-h{
	text-align: center;
	text-transform: capitalize;
	font-weight: bold;
	color: #fc7f19;
	margin-bottom: 30px;
}
/*======= single product =============*/
.single-product{
    width: 90%;
    min-height: 50vh;
    margin: 60px auto;
    padding-bottom: 30px;
}
.single-product img{
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
    margin-top: 50px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .5);
    border-radius: 5px;
}
.side_info{
    margin-top: 120px;
    margin-left: 50px;
    line-height: 40px;
}
.p_name{
    text-transform: capitalize;
    color: #0361b9;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
    font-weight: bold;
}
.side_info p{
    font-size: 1.3em;
}
.side_info span{
    margin-left: 10px;
    font-size: .9em;
}
#p_quantity{
    width: 80px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #ddd;
    background-color: none;
}
.p_req button{
    width: 150px;
    background-color: #f86909;
    border: none;
    text-transform: capitalize;
    color: #fff;
    cursor: pointer;
}
.p_req button:hover{
    background-color: #e24c06;
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, .5);
    transition: .4s;
}
.product-description{
    width: 80%;
    margin: 30px auto;
}
.product-description h6{
    margin-top: 50px;
    color: #046aad;
    font-weight: bold;
}
.product-description p{
    margin-top: 30px;
    line-height: 1.8em;
    text-align: justify;
}
.product-description hr{
    margin-bottom: 50px;
}
/*============= footer ==================*/
footer{
	width: 100%;
	height: 5vh;
	margin-top: -5vh;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 2vh;
}
footer p{
	color: #fff;
}

